<!DOCTYPE html>
<html>
  <head>
    <title>Nytimes way back :)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>nytimes way back
</h1>
      <form role="form" method='GET' action='http://ec2-35-166-154-9.us-west-2.compute.amazonaws.com:5000/input'>
          
          <input type="text" name="date" class="form-control" id="url-box" placeholder="Enter mm-dd-yyyy with the '-' " style="max-width: 300px;" autofocus required>
          <input type="text" name="num_topics" class="form-control" id="url-box" placeholder="Enter number of topics" style="max-width: 300px;" autofocus required>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
